<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>API - WEB6</title>

    <link rel="stylesheet" type="text/css" href="assets/css/layout.css">

</head>

<body>

    <header>
        <h1>WEB6 - Public APIs</h1>
    </header>

    <nav>
        <ul>
            <li><a href="https://insta-watermark.api.web6.fr">Instagram watermark</a></li>
            <li><a href="https://css2json.api.web6.fr">CSS -> Json</a></li>
            <li><a href="https://img2html.api.web6.fr">IMG -> Html</a></li>
            <li><a href="https://px.api.web6.fr">Pixel generator</a></li>
        </ul>
    </nav>

    <main>
        <article>
            <h2>Listes des APIs ouvertes fournies par WEB6</h2>
            <p>Avec les années de développement nous avons mis au point une série d'APIs que nous partageons
                gratuitement.</p>
        </article>
        <aside>
            <h2>À propos de WEB6</h2>
            <p>WEB6 est une agence de communication spécialisée dans la création, l'hébergement et la maintenance de
                sites Internet.</p>
        </aside>
    </main>

    <footer>
        <p>©Copyright <span id="copyright-year">2019</span> <a href="https://web6.fr"
                title="Agence web - Paris - France">WEB6</a>. Tous droits reversés.</p>
    </footer>

    <script src="assets/js/layout.js"></script>

</body>

</html>